*
  margin: 0
  padding: 0

.header
  width: 100%
  height: 70px
  border-bottom: 1px solid gray
  display: flex
  align-items: center
  justify-content: space-between

.addproduct
  text-decoration: none
  font-size: 20px

  /*display: flex;
  justify-content: center
  font-family: Impact
  font-weight: 600
  color: dimgrey
  padding-right: 30px

.h-text, .add
  color: dimgrey
  padding-top: 10px
  font-family: Impact,sans-serif
  padding-left: 30px
  font-weight: 600
  justify-content: center
  font-size: 32px

.fa-plus
  font-size: 20px
  margin-right: 5px
  align-items: center
  font-weight: 600

#firstform, #secondform, #thirdform
  display: none

.formone
  margin-left: 25%
  margin-top: 20px

.type-switcher
  margin-left: 25%

.dimensions
  padding-top: 20px
  font-weight: bold

.main
  margin-top: 20px

.hello
  margin-left: 47.1%

.tablemayble
  width: 30%
  margin-left: 200px

.table-show
  margin-left: auto
  margin-right: auto